.footer {
	position: fixed;
	width: 100%;
	height: 60px;
	bottom: 0px;
	left: 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(89, 146, 127, 0.9);
	& p {
		font-size: 1.2em;
		font-weight: 500;
	}
}
